* {
    margin: 10px;
    padding: 10px;
    background-color: rgb(20, 20, 20);
    color: aliceblue;
    
}

/* .day {
    margin: 1px;
    padding-top: 80px;
    display: inline-block;

} */
.tile1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
}
/* .day3 {
    word-break: break-all;
}
 */
